.modal-container {
  z-index: 10;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  width: 300px;
  position: absolute;
  background-color: white;
  padding: 10px;
}

.modal-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 600;
  color: gray;
}
